<ion-header>
  <ion-toolbar>
    <ion-title (click)="titleClicked()">
      {{a}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="login">
  <ion-item>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input disabled type="password"></ion-input>
  </ion-item><br>
  <ion-button *ngIf="show" color="primary" (click)="buttonClicked()">Iniciar sesion</ion-button><br><br>
    <a style="color:white">¿Aun no tienes una cuenta? </a>
    <a (click)="registrar()">Registrarse</a>
</div>
