<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bitacoras
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-button color="danger" disabled>Iniciar sesion</ion-button>
  <ion-item (click)="registrar()">
    <ion-label >Registrarse</ion-label>
  </ion-item>
</ion-content>
